# {{ ansible_managed }} by tobias_richter.docker

deb [arch={{ docker_apt_architecture }}] https://download.docker.com/linux/{{ docker_ansible_distribution }}  {{ docker_ansible_distribution_release }} stable